.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.login-box, .login-inputs, .login-buttons {
    display: flex;
    flex-direction: column;
}

.login-inputs {
    margin-bottom: 25px;
}

.forgot-button {
    text-transform: none;
}
